img, video {
    display: block;
    margin: 1rem auto;
}

html { 
    height:100%;
}

body {
    min-height:100%;
    padding:0; margin:0;
    position:relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}
